In [1]:
from importlib import reload
import grizzlies as pd
reload(pd)
import pandas

In [2]:
df = pd.read_csv('data/iris.csv')
df.head()

------checked for existing stats------
------checked for existing stats------

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
df.iloc[10]

Id                        11
SepalLengthCm            5.4
SepalWidthCm             3.7
PetalLengthCm            1.5
PetalWidthCm             0.2
Species          Iris-setosa
Name: 10, dtype: object

In [4]:
df.loc[df['Species'] == 'Iris-setosa'].head()

------at 1 accesses------

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
df.loc[df['SepalWidthCm'] >= 3].head()

------at 1 accesses------

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
pd.Series(df['SepalLengthCm'])

------at 1 accesses------

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [7]:
pd.Series(df['SepalLengthCm']).to_numpy()

------at 2 accesses------

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.6, 5. , 4.4, 4.9, 5.4, 4.8, 4.8,
       4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5. ,
       5. , 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5. , 5.5, 4.9, 4.4,
       5.1, 5. , 4.5, 4.4, 5. , 5.1, 4.8, 5.1, 4.6, 5.3, 5. , 7. , 6.4,
       6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5. , 5.9, 6. , 6.1, 5.6,
       6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7,
       6. , 5.7, 5.5, 5.5, 5.8, 6. , 5.4, 6. , 6.7, 6.3, 5.6, 5.5, 5.5,
       6.1, 5.8, 5. , 5.6, 5.7, 5.7, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3,
       6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5,
       7.7, 7.7, 6. , 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2,
       7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6. , 6.9, 6.7, 6.9, 5.8,
       6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9])

In [8]:
df_left = df[df['SepalLengthCm'] <= 5]
df_right = df[df['SepalLengthCm'] >= 5]
df_combined = df_left.merge(df_right, on='SepalLengthCm', how='inner')
df_combined.head()

------at 3 accesses------
------at 4 accesses------
------checked for existing stats------
------at 5 accesses------
------Hash index created for column: SepalLengthCm------
------at 6 accesses------
------checked for existing stats------
------checked for existing stats------
------checked for existing stats------

,Id_x,SepalLengthCm,SepalWidthCm_x,PetalLengthCm_x,PetalWidthCm_x,Species_x,Id_y,SepalWidthCm_y,PetalLengthCm_y,PetalWidthCm_y,Species_y
0,5,5.0,3.6,1.4,0.2,Iris-setosa,5,3.6,1.4,0.2,Iris-setosa
1,5,5.0,3.6,1.4,0.2,Iris-setosa,8,3.4,1.5,0.2,Iris-setosa
2,5,5.0,3.6,1.4,0.2,Iris-setosa,26,3.0,1.6,0.2,Iris-setosa
3,5,5.0,3.6,1.4,0.2,Iris-setosa,27,3.4,1.6,0.4,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa,36,3.2,1.2,0.2,Iris-setosa

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [10]:
df.loc[6, ['SepalLengthCm', 'SepalWidthCm']]

SepalLengthCm    4.6
SepalWidthCm     3.4
Name: 6, dtype: object

In [11]:
df.loc[:, 'SepalLengthCm'] = 123        # sets all rows in column 'col' to 123

In [12]:
df.iloc[5, 2] = 999           # sets a specific cell

In [13]:
df.loc[df['SepalWidthCm'] > 5, 'SepalLengthCm'] = 0  # conditional set

------at 2 accesses------